@charset "UTF-8";

body {
    background-color: #ddd;
    color: #444; font-family: "Helvetica Neue";
    line-height: 1.5;
    width: 60%;
    margin: 20%;
    margin-top: 0;
    padding:1.5%;
}

main {
    background-color: white;
    padding: 5%;
    margin:0;
    border-radius: 10px;
}

section {
    border-top: 2px gray solid;
}

h1, h2 {
    color:rgb(140, 76, 8);
    margin-top: 0%;
}